node_modules/
dist/
build/
.venv/
__pycache__/
*.pyc
.ruff_cache/
.pytest_cache/
.vercel/
.env
*.log
.DS_Store/
.turbo/
tunnel*.err
*.db
storage/
!apps/platform/storage/
!apps/platform/storage/lib/
!apps/platform/storage/lib/three/
!apps/platform/storage/lib/three/three.min.js
*.egg-info/

.vercel
